In [4]:
# !pip install numpy==1.26.4
# !pip install --upgrade pip

Requirement already satisfied: numpy==1.26.4 in c:\users\biswa\anaconda3\lib\site-packages (1.26.4)

In [5]:
import pandas as pd
import numpy as np

In [2]:
import sys
np.__version__

'1.26.4'

In [99]:
rng = np.random.default_rng(seed=42)
data  = rng.random((10,10))

In [100]:
# rng.integers(0,10,8)

In [101]:
# rng.choice(df.index,3)

In [102]:
df = pd.DataFrame(data = data , columns = list('abcdefghij'))

In [103]:
df

,a,b,c,d,e,f,g,h,i,j
0,0.773956,0.438878,0.858598,0.697368,0.094177,0.975622,0.761140,0.786064,0.128114,0.450386
1,0.370798,0.926765,0.643865,0.822762,0.443414,0.227239,0.554585,0.063817,0.827631,0.631664
2,0.758088,0.354526,0.970698,0.893121,0.778383,0.194639,0.466721,0.043804,0.154289,0.683049
3,0.744762,0.967510,0.325825,0.370460,0.469556,0.189471,0.129922,0.475705,0.226909,0.669814
4,0.437152,0.832678,0.700265,0.312367,0.832260,0.804764,0.387478,0.288328,0.682496,0.139752
5,0.199908,0.007362,0.786924,0.664851,0.705165,0.780729,0.458916,0.568741,0.139797,0.114530
6,0.668403,0.471096,0.565236,0.764999,0.634718,0.553579,0.559207,0.303950,0.030818,0.436717
7,0.214585,0.408529,0.853403,0.233939,0.058303,0.281384,0.293594,0.661917,0.557032,0.783898
8,0.664314,0.406387,0.814020,0.166973,0.022712,0.090048,0.722359,0.461877,0.161272,0.501045
9,0.152312,0.696320,0.446156,0.381021,0.301512,0.630283,0.361813,0.087650,0.118006,0.961898

In [104]:
def split_train_test(df,ratio):
    
    split_ratio = round(len(df)*ratio)
    
    train_index = rng.choice(df.index ,split_ratio ,replace = False)
    
    test_ndex   = np.setdiff1d(df.index , train_index , assume_unique = True)
    
    train_df = df.iloc[train_index , :]
    
    test_df  = df.iloc[test_ndex , :]
    
    return train_df , test_df

In [105]:
X_train , X_test = split_train_test(df,0.7)

In [106]:
X_train

,a,b,c,d,e,f,g,h,i,j
1,0.370798,0.926765,0.643865,0.822762,0.443414,0.227239,0.554585,0.063817,0.827631,0.631664
3,0.744762,0.967510,0.325825,0.370460,0.469556,0.189471,0.129922,0.475705,0.226909,0.669814
2,0.758088,0.354526,0.970698,0.893121,0.778383,0.194639,0.466721,0.043804,0.154289,0.683049
8,0.664314,0.406387,0.814020,0.166973,0.022712,0.090048,0.722359,0.461877,0.161272,0.501045
6,0.668403,0.471096,0.565236,0.764999,0.634718,0.553579,0.559207,0.303950,0.030818,0.436717
4,0.437152,0.832678,0.700265,0.312367,0.832260,0.804764,0.387478,0.288328,0.682496,0.139752
7,0.214585,0.408529,0.853403,0.233939,0.058303,0.281384,0.293594,0.661917,0.557032,0.783898

In [107]:
X_test

,a,b,c,d,e,f,g,h,i,j
0,0.773956,0.438878,0.858598,0.697368,0.094177,0.975622,0.761140,0.786064,0.128114,0.450386
5,0.199908,0.007362,0.786924,0.664851,0.705165,0.780729,0.458916,0.568741,0.139797,0.114530
9,0.152312,0.696320,0.446156,0.381021,0.301512,0.630283,0.361813,0.087650,0.118006,0.961898

### gropup by with index of original dataframe

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame()
df['num'] = list(range(100))
df['num'] = df['num']*100
df['Index'] = list(range(100))
df['Group'] = ['a']*25 + ['b']*25 + ['c']*25 + ['d']*25

In [5]:
def ind_dict(df):
    ind_df = dict(zip(df['num'],df['Index']))
    return ind_df

In [11]:
df_agg = df.groupby('Group').agg(num_min=pd.NamedAgg(column="num", aggfunc="min"),
                    ind_Dict = pd.NamedAgg(column = 'num',aggfunc = lambda x : ind_dict(df.loc[x.index]))).reset_index()

df_agg['Index'] = df_agg.apply(lambda row : row['ind_Dict'][row['num_min']],axis =1)
df_agg = df_agg.drop(columns = ['ind_Dict'])

In [12]:
df_agg

  Group  num_min  Index
0     a        0      0
1     b     2500     25
2     c     5000     50
3     d     7500     75

  ### Geometric Mean

In [15]:
a1 = np.array([1,2,3,4,5,6,7])
a2 = np.array([1,2,3,np.nan,5,6,7])
a3 = np.array([1,2,3,4,15,np.nan,7])
a4 = np.array([1,2,3,4,9,16,7])
a5 = np.array([1,2,3,np.nan,5,6,7])
a6 = np.array([1,2,3,4,5,6,17])
a7 = np.array([1,2,3,4,5,6,np.nan])

A = np.vstack((a1,a2,a3,a4,a5,a6,a7))
A

array([[ 1.,  2.,  3.,  4.,  5.,  6.,  7.],
       [ 1.,  2.,  3., nan,  5.,  6.,  7.],
       [ 1.,  2.,  3.,  4., 15., nan,  7.],
       [ 1.,  2.,  3.,  4.,  9., 16.,  7.],
       [ 1.,  2.,  3., nan,  5.,  6.,  7.],
       [ 1.,  2.,  3.,  4.,  5.,  6., 17.],
       [ 1.,  2.,  3.,  4.,  5.,  6., nan]])

In [20]:
def Geometric_mean(arr):
    gmean = np.exp(np.mean(np.log(arr),axis = 0,where = ~np.isnan(arr)))
    return gmean

In [21]:
Geometric_mean(A)

array([1.        , 2.        , 3.        , 4.        , 6.36205888,
       7.06555106, 8.11564772])

### Performance improvement for Pandas Group By

In [3]:
a = 2000000
b = 5
c = int(a/b)

df = pd.DataFrame()
df['num'] = np.random.normal(0,2,a)
df['Index'] = list(range(a))
df['Group'] = np.array([[i]*b for i in range(c)]).flatten()

In [76]:
def ind_dict(df):
    ind_df = dict(zip(df['num'],df['Index']))
    return ind_df
import time

t0 = time.time()

df_agg = df.groupby('Group').agg(Max_num_deviation=pd.NamedAgg(column="num", aggfunc= lambda x :max(x) if  max(np.where(x>0,x,x*-1)) == max(x) else min(x)),
                    ind_Dict = pd.NamedAgg(column = 'num',aggfunc = lambda x : ind_dict(df.loc[x.index]))).reset_index()

df_agg['Index'] = df_agg.apply(lambda row : row['ind_Dict'][row['Max_num_deviation']],axis =1)
df_agg = df_agg.drop(columns = ['ind_Dict'])

t1 = time.time()

print('time taken :',(t1-t0)*1000)

time taken : 288302.72459983826

In [1]:
import numpy as np
import pandas as pd
import time

a = 2000000
b = 5
c = int(a/b)
df1 = pd.DataFrame()

df1['num'] = np.random.normal(0,3,a)
df1['group'] = np.array([[i]*b for i in range(c)]).flatten()
df1['Index'] = list(range(a))

In [2]:
t0 = time.time()

df1['abs_num'] = df1['num'].abs()

# Get the index of the max deviation per group using `idxmax`
df1_agg = df1.loc[df1.groupby('group')['abs_num'].idxmax(), ['group', 'num', 'Index']].rename(
    columns={'num': 'Max_num_deviation'}
)

df1_agg.reset_index(drop=True, inplace=True)
t1 = time.time()

print('time taken :',(t1-t0)*1000)

time taken : 29395.222902297974